.chart {
  height: 500px;
  position: relative;
}


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  /*fill: none;*/
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  opacity: 0;
}


.chart {
  height: 500px;
  position: relative;
}

.tt {
  background-color: #fff;
  padding: 8px;
  outline: 1px solid #ccc;
  display: none;
  position: absolute;
}

.tt .name {
  font-size: 14px;
}

.tt .date {
  text-transform: uppercase;
  font-size: 12px;
}

.tt .price {
  font-size: 18px;
  font-weight: bold;
}