.chart {
  height: 500px;
  position: relative;
}


body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 8px sans-serif;
  /*position: absolute;*/
}
rect {
  stroke-width: 2;
}